:root{
    --cor-fundo: #c7c7a6;
    --cor-principal: #f3f3db;
    --cor-secundaria: #366894;
    --cor-destaque: #75756b;
    --cor-texto:#75756b;
}

body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque)
    
}